<section class="py-24 flex items-center min-h-screen justify-center bg-white">
  <div class="mx-auto max-w-[43rem]">
    <div class="text-center">
      <h1 class="mt-3 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-black">Tailwing + Angular ordered masonry gallery</h1>
      <p class="mt-3 text-lg leading-relaxed text-slate-400">Lays out horizontally instead of laying out the view column by column.</p>
    </div>

    <div class="mt-6 flex items-center justify-center gap-4">
      <app-image-grid [images]="images" ></app-image-grid>
    </div>
  </div>
</section>